*{
  padding: 0;
  margin: 0;
  list-style: none;
}

h1 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 24px;
}

p, h2 {
  font-family: 'Times New Roman', Times, serif;
}

body {
  background-attachment: fixed;
  background-image: url(img/background.jpg);

  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
}
h2{
  font-size: 20px;
}

#window {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}


header {
  width: 100%;
  height: 50px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}


#container-cards {
  position: absolute;
  left: 10%;
  top: 8%;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px 0 100px 0 ;
  
}

.squirtle{
  background-image: url(img/water-bg.jpg);
  
  animation: cardPlacementStartSquirtle 0.5s linear;
}
.charmander{
  background: rgb(154,93,0);
  background: radial-gradient(circle, rgba(154,93,0,1) 0%, rgba(205,61,0,1) 53%, rgba(255,94,0,1) 100%);
  animation: cardPlacementStartCharmander 0.5s linear;
}
.bulbasaur{
  background-image: url(img/grass-bg.jpg);
  animation: cardPlacementStartbulbasaur 0.5s linear;
}

.card {
  min-width: 200px;
  min-height: 350px;
  max-width: 200px;
  max-height: 350px;
  margin: 10px;
  background-color: #fff;
  border: 5px solid goldenrod;
  border-radius: 5px;
}




.header-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 900;
  font-size: 20px;
  width: 95%;
  margin-left: auto;
  margin-right: auto ;
}

.pokemon-too-large-name {
  font-size: 18px;
}

.pokemon-element-pv-container {
  display: flex;
}

.pictures-container {
  text-align: center;

}

.pictures {
  width: 80%;
  height: 100%;
  border: 2px solid goldenrod;
  border-radius: 2px;
}

.icon-element {
  width: 25px;
  margin: 0 10px;
}

.icon-header {
  margin: 0;
}

.container-attacks {
  width: 100%;
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 30px;
}
.attack {
  width: 100%;
  padding: 3px 0;
}

.title-attack {
  display: flex;
}

.attack-description {
  width: 90%;
  margin-left: 10px;
  display: flex;
  justify-content: space-around;
}

.attack-text {
  width: 70%;
}

.damages {
  font-weight: 600;
  font-size: 28px;
}

.border {
  border: 1px solid goldenrod;
}

.container-strengths-weaknesses{
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.strengths{
  min-width: 50%;
}

.weaknesses{
  min-width: 50%;
}

@keyframes cardPlacementStartSquirtle {
  0% {
    position: absolute;
    left: 19%;
    top: 50%;
  }
 100% {
    position: absolute;
    left: 19%;
    top: 0%;
  }
}

@keyframes cardPlacementStartbulbasaur {
  0% {
    position: absolute;
    left: 19%;
    top: 50%;
  }
  100% {
    position: absolute;
    left: 19%;
    top: 700%;
  }
}

@keyframes cardPlacementStartCharmander {
  0% {
    position: absolute;
    left: 19%;
    top: 50%;
  }
  100% {
    position: absolute;
    left: 19%;
    top: 380%;
  }
}