*{
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  background-attachment: fixed;
  background-image: url(img/background.jpg);

  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
}
h2{
  font-size: 20px;
}

#window {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}


header {
  width: 100%;
  height: 50px;
  background-color: #fff;
  text-align: center;
}


#container-cards {
  position: absolute;
  left: 10%;
  top: 5%;
  width: 80%;
  height: 100%;
  background-color: red;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px 0 100px 0 ;
  
}

.squirtle{
  background-image: url(img/water-bg.jpg);
}

.card {
  min-width: 200px;
  min-height: 350px;
  max-width: 200px;
  max-height: 350px;
  margin: 10px;
  background-color: #fff;
  border: 5px solid goldenrod;
  border-radius: 5px;
  
}
.name {
  text-align: center;
  font-size: 20px;
  display: flex;
}

.pictures-container {
  text-align: center;

}

.pictures {
  width: 80%;
  height: 100%;
  border: 2px solid goldenrod;
  border-radius: 2px;
}

.icon-element {
  width: 25px;
  margin: 0 10px;
}

.container-attacks {
  width: 100%;
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 30px;
}
.attack {
  width: 100%;
  padding: 3px 0;
}

.title-attack {
  display: flex;
}

.attack-description {
  width: 90%;
  margin-left: 10px;
  display: flex;
  justify-content: space-around;
}

.attack-text {
  width: 70%;
}

.damages {
  font-weight: 600;
  font-size: 28px;
}

.border {
  border: 1px solid goldenrod;
}

.container-strengths-weaknesses{
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.strengths{
  min-width: 50%;
}

.weaknesses{
  min-width: 50%;
}